
.container-fluid.login-container {
  background-image: URL(".public/books.jpg");
  background-size: cover;
  background-position: center center;
  margin-left: -1rem;
  width: calc(100% + 2rem);

}

/* .login-container  {
  background-size: calc(100% + 2rem);
} */

h1.login-slogan {
  margin-bottom: 50px;
}

.login-card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  /* Styles for input fields */
  color: white;
}

.login-form button {
  /* Overriding button styles if needed */
  background-color: #b4bfbe;
}

h1 {
  font-size: 25px;
}

.off-white {
  background-color: #f5f5f5;
  border-radius: 8px;
}
