Navigation.css
nav {
    background-color: #3b6978;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    padding: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  