@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
  --primary: #000000;
  --secondary: #F5F5F5;
  --terciary: #608362;
}
body {
  margin: 0;
  padding: 0px;
  font-family: "Italiana";
  background: var(--secondary);
}
/* * {
  color: #000;
  margin: 0;
} */
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: #f5f5f5;
  background: var(--terciary);
  cursor: pointer;
}

/* navbar */

header nav {
    display: flex;
    gap: 16px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #000;
  }
  
header nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
  }
header nav a.active {
    background: var(--terciary);
    color: #F5F5F5;
  }

@media screen and (max-width: 768px) {
  header nav {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    color: #000;
  }
}