@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
  --primary: #000000;
  --secondary: #F5F5F5;
  --terciary: #608362;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Italiana";
  background: var(--secondary);
}

main {
  padding: 1rem;
}

.name {
  margin-top: 15px;
  text-align: center;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: #f5f5f5;
  background: var(--terciary);
  cursor: pointer;
}

/* navbar */

header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #000;
  }
  
header nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
  }

header nav a.active {
    background: var(--terciary);
    color: #F5F5F5;
  }







/* mobile styles */
@media screen and (max-width: 768px) {
  header nav {
    display: flex;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
  }

  main {
    padding: 1rem;
  }

  .name {
    margin-top: 15px;
  }
}
